@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto|Slabo+27px');

body {
    background-color: #e9eef2;
    font-size: 1.1em;
}

.navbar ul li a cornav {
    font-family: Slabo, sans-serif;
    font-size: 1.2em;
}

.bg-light {
    background-color: #e1c2db !important;
}

article p, aside p, section p {
    font-family: 'Roboto', serif;
    line-height: 1.8em;
    font-weight: 500;
}
/* Cor e definição dos H's */

.titulo {
    color: #53344d;
    font-weight: bold;
    text-align: center;
}

.paddingh1 {
    margin-bottom: 40px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}

/*Descrição da imagem do salão de beleza*/

.descricaoimg {
    margin-top: 6px;
    width: 100%;
}

.descricaoimg:hover {
    opacity: 0.8;
}

#ajusteimgsalao {
    color: #53344d;
    font-family: Slabo, sans-serif;
    font-size: 1em;
    font-weight: bolder;
    margin-bottom: 3rem;
}

.paddingimg {
    padding: 0;
}

/* Letra captular início do parágrafo */

.capitular::first-letter {
    float: left;
    color: #53344d;
    font-weight: 600;
    font-size: 8em;
    line-height: 6rem;
    padding: 20px 10px 1px 0px;
}

/* Quem Somos Título Aside */
#asidequemsomos {
       color: #53344d;
    font-family: Slabo, sans-serif;
    font-size: 1em;
    font-weight: bolder;
    text-align: center;
}
/*Divisor de linha do H*/

.divisor {
    height: 1px;
    background-color: rgba(51, 51, 51, 0.14);
    position: relative;
    bottom: 15px;
    margin-bottom: 3rem;
    width: 100%;
}

.divisor::after {
    content: "";
    display: block;
    position: relative;
    margin: 0 auto;
    height: 0.5rem;
    background-color: #53344d;
    width: 26%;
    bottom: 0.4rem;
    margin-top: 30px;
}



/*Descktop*/

@media (min-width: 1200px) {
    .sombra {
        margin: .5rem 0;
        background-color: #ffd5a6;
        box-shadow: 0 0 5px rgba(230, 182, 129, 0.51));
    }
}

.memoriasimg {
    margin-top: 7px;
    padding-left: 0px;
    width: 50%;
}

memoriasimg:hover {
    opacity: 0.8;
}


/*Tablet*/

@media (max-width: 993px) 
{
    .sombra 
    {
        margin: .5rem 0;
        background-color: #ebebeb;
        box-shadow: 0 0 5px rgba(230, 182, 129, 0.0));
    }
    .memoriasimg 
    {
        width: 50%
    }
    
    .arrumarpimg
    {
        width: 150px;
            height: 200px;
    }

    .descricaoimg 
    {
        width: 100%;
    }
    .descricaoimg:hover 
    {
        opacity: 0.8;
    }
    .pararealismo 
    {
    margin-top: 2px;    
    } 

}

footer {
    background-color: #e1c2db;
    font-family: Slabo, sans-serif;
    padding: 25px 0 10px 0;
    text-align: center;
}


@media (min-width: 768px) {}

/* Menu indidividual*/
.breadcrumb li a {
    color: #2f0f01;
    /* color:#207e36; */
}

p {
    font-family: 'Zilla Slab', serif;
}